@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
    font-family: dseg7;
    src: url(DSEG7Classic-Bold.ttf);
  }

.container-full {
    height: 100vh;
}

.time {
    font-family: dseg7;
    font-size: 50px;
}

.banner {
    color: white;
    font-size: 90px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    filter: drop-shadow(5px 5px 0px cyan) drop-shadow(6px 6px 0px magenta);
    -webkit-filter: drop-shadow(5px 5px 0px cyan) drop-shadow(6px 6px 0px magenta);
    transition: filter 300ms;
}

.banner:hover{
    filter: drop-shadow(0px 0px 0px magenta);
    -webkit-filter: drop-shadow(0px 0px 0px cyan);
}