@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    padding: 0px;
    margin: 0px;    

}
@font-face {
    font-family: dseg7;
    src: url(DSEG7Classic-Bold.ttf);
  }

.container-full {
    height: 100vh;
}

.time {
    font-family: dseg7;
    font-size: 50px;
}

.bg-dark {
    background-color: #222222;

}

.banner {
    color: white;
    font-size: 9em;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    padding-left: 10%;
    padding-top: 3%;
    width: 30%;
    filter: drop-shadow(5px 5px 0px cyan) drop-shadow(6px 6px 0px magenta);
    -webkit-filter: drop-shadow(5px 5px 0px cyan) drop-shadow(6px 6px 0px magenta);
    transition: filter 300ms;
}

.banner:hover{
    filter: drop-shadow(0px 0px 0px magenta);
    -webkit-filter: drop-shadow(0px 0px 0px cyan);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }